.nav-txt {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.link {
  text-decoration: none;

  margin-left: 40%;
}
.link-signup{
  text-decoration: none;
   
  margin-left: 30%;
}
.link-signup:hover{
  color: #fca311 !important;
}

.link:hover {
  color: #fca311 !important;
}
.text-nav{
  font-family:cursive;
  font-size: 14pt !important;
}
.bg-image{
  margin: 0px;
  background-image: url("https://images-ext-1.discordapp.net/external/nLavfkSrT7XgFyd3ac9S5QPBYkqbzikzqhvVFzAiTJw/https/miro.medium.com/max/2560/1%2A2SDFmeWqZqwgHhXBAw-pOA.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  opacity: 0.8;
}

.nav-text {
  color:  #14213d !important;
  background-color: #fca311 !important;
}
.button-color {
  background-color: #14213d !important;
  color: #fca311 !important;
}
.text-color {
  color: #14213d !important;
}


.book-btn{
  left: 41.5%;
}

.booking-form{
  left: 32%;
  border-radius: 10px;
}



.bg-card{
  margin: 0px;
  width: 100%;
  height: 650px;
  background-color: #E5E5E5 !important;
}

.profile-card{
  margin: 0px;
  width: 100%;
  height: 664px;
  background-color: #E5E5E5 !important;
}
.guide-card{

  width: 72%;
  height: 45%;

}

.bio{

  max-width: 59.35%;
 overflow-wrap:break-word ;
 letter-spacing: 1px;

}

.guide-btn{

  left: 77%;

}