/* .in {
  margin: 10px !important;
  width: 300px !important;
} */

.nav-txt {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.link {
  text-decoration: none;

  margin-left: 40%;
}
.link-signup{
  text-decoration: none;

  margin-left: 30%;
}
.link-signup:hover{
  color: #b97400;
}
.link:hover {
  color: #b97400;
}
