.nav-txt {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.link {
  text-decoration: none;

  margin-left: 40%;
}
.link-signup {
  text-decoration: none;

  margin-left: 30%;
}
.link-signup:hover {
  color: #fca311 !important;
}

.link:hover {
  color: #fca311 !important;
}
.text-nav {
  font-family: cursive;
  font-size: 14pt !important;
}
.bg-image {
  margin: 0px;
  background-image: url("https://images-ext-1.discordapp.net/external/nLavfkSrT7XgFyd3ac9S5QPBYkqbzikzqhvVFzAiTJw/https/miro.medium.com/max/2560/1%2A2SDFmeWqZqwgHhXBAw-pOA.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  opacity: 0.8;
}

.nav-text {
  color: #14213d !important;
  background-color: #fca311 !important;
}
.button-color {
  background-color: #14213d !important;
  color: #fca311 !important;
}
.text-color {
  color: #14213d !important;
}

.book-btn {
  left: 41.5%;
}



.bg-card {
  margin: 0px;
  width: 100%;
  height: 650px;
  background-color: #e5e5e5 !important;
}

.profile-card {
  margin: 0px;
  width: 100%;
  height: 700px;
  background-color: white!important;
}
.guide-card {
  width: 72%;
  height: 47.6%;
  top:40%;
  left:28.4%;
}

.bio {
  width: 67.55%;
  height: 47.6%;
  max-width: 67.55%;
  overflow-wrap: break-word;
  letter-spacing: 1px;
  top:40%;
  left:28.4%;
}

.guide-btn {
  top: 86% !important;
  left: 76%;
  box-shadow: 1px 1px 5px #fca311;
}
.card1-p {
  max-height: 87.5% !important;
  /* background-color:rgba(255, 255, 255, 0.363); */
}


::-webkit-scrollbar {
  width: 0;
}

.guide-table{
  max-height: 37.5%;
  background-color: white;
  overflow-y: scroll;

  width: 68%;

}
.des-text{
  max-height: 250px;
  overflow-y: scroll;
}

.guide-form{
  left: 32%;
  border-radius: 10px;
  width: 510px !important;
  box-shadow: 4px 4px 200px black;
  /* bottom: 100px */
  

}

.booking-form {
  left: 32%;
  border-radius: 10px;
  box-shadow: 4px 4px 200px black;
}
/* 
body{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
} */
.user-card-p{
  width: 95%;
  height: 87%;
}
.user-table{
  max-height: 37.5%;
  background-color: white;
  overflow-y: scroll;
  top: 50%;
  width: 94%;
 

  
}
.guide-card-summary{
  /* box-shadow:0px 0px 0px 3px gray inset; */
  left: 25%;
  top:50px;
  
}
.tourist-card-summary{
  left: 51%;
  bottom:205.8px;
}
.done-card-summary{
  width: 784px;
  bottom:190px;
  left:25%;
  height: 140px;
  flex-direction: row !important;
  justify-content: space-evenly;
}



/* slider--------------------- */



.auto-slider {
  position: absolute;
  left:40.2%;
  top:10px;
  box-sizing: content-box;
  display: inline-block;
  padding: 10px 10px 20px;
  background: #fff;
  /* max-width: 1014px;
  min-width: 1014px; */
  width: 750px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  height: 235px ;
  /* box-shadow: 1px 1px 5px orange; */

}

div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s sliding ease infinite;
}

@keyframes sliding {
  0% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  100% {
    left: 0%;
  }
}

@keyframes indicating {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.guides {
  left: 70%;
  border-bottom: none;
  width: 731px;
  margin-top: 0.25%;
  /* min-height: 600px;
  max-height: 600px; */
  height: 658px;
  overflow-y: scroll;
  border-right: 3px solid gold;
  padding-top: 75px;
}


.mapbox{

 left:47.6%;
 top: 8%;
width: 700px;
}

/* here & guidelist line 9 */
.personal-card{

  border-width: 0px!important;
  background-color: rgba(255, 255, 255, 0.007)!important;
}